
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  height: 100%;
}

body {
	line-height: 1.15;
  height: 100%;
}

h2, p {
	margin-bottom: 0.2em;
}

.a-Subheader{
	box-sizing: border-box;
	height: 48px;
	padding: 16px 0px 0px 16px;
	font-size: 14px;
	color: #757575;
}

.a-Icon{
	height: 48px;
	width: 48px;
	padding: 12px;
	box-sizing: border-box;
	text-align: center;
	color: #757575;
}

.a-Icon:before{
	font-size: 24px;
	color: #757575;
}

.a-Icon--back span {
	height: 3px;
	background-color: #757575;
	width: 22px;
	display: block;
	position: absolute;
	top: calc(50% - 1px);
}

.a-Icon--back span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	width: 14px;
	top: calc(50% + 3px);
	left: 14px;
}

.a-Icon--back span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	width: 14px;
	top: calc(50% - 5px);
	left: 14px;
}

.a-FloatingButton{
	/*height: 56px;
    width: 56px;*/
	height: 40px;
	width: 40px;
	background: #03a9f4;
	border-radius: 50%;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
	/*padding: 16px;*/
	padding: 8px;
	box-sizing: border-box;
	color: white;
}

.a-FlatButton{
	height: 48px;
	display: inline-block;
	font-size: 14px;
	box-sizing: border-box;
	padding: 0px 16px;
	padding-right: 8px;
	border-radius: 2px;
	line-height: 48px;
	text-transform: uppercase;
	color: #03a9f4;
}

.o-Header .a-FlatButton{
	color: #757575;
	padding-right: 16px;
}

main {
	padding-top: 56px;
	padding-bottom: 56px;
}

.m-ListItem{
	padding: 16px;
	padding-bottom: 20px;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid #eeeeee;
	padding-left: 72px;
	height: 72px;
}

.m-ListItem:first-child{
	margin-top: 8px;
}

.m-ListItem-title{
	font-size: 16px;
	position: relative;
}

.m-ListItem-text{
	font-size: 14px;
	color: #757575;
	height: calc(100% - 20px);
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
}

.m-ListItem-avatar{
	height: 40px;
	width: 40px;
	left: 0px;
	background: grey;
	border-style: none;
	border-radius: 50%;
	margin-left: 16px;
	position: absolute;
	overflow: hidden;
}

.m-ListItem-avatar img{
	width: 100%;
	height: 100%;
}

.m-SearchListItem{
	padding: 16px;
	padding-bottom: 20px;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid #eeeeee;
	padding-left: 72px;
	padding-right: 54px;
	height: 88px;
}

.m-SearchListItem:first-child{
	margin-top: 8px;
}

.m-SearchListItem-title{
	font-size: 16px;
	position: relative;
}

.m-SearchListItem-text{
	font-size: 14px;
	color: #757575;
	height: calc(100% - 20px);
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
}

.m-SearchListItem-avatar{
	height: 40px;
	width: 40px;
	left: 0px;
	background: grey;
	border-style: none;
	border-radius: 50%;
	margin-left: 16px;
	position: absolute;
	overflow: hidden;
}

.m-SearchListItem-avatar img{
	width: 100%;
	height: 100%;
}

.m-SearchListItem-icon{
	background: grey;
	height: 16px;
	width: 16px;
	position: absolute;
	top: 16px;
	right: 16px;
}

.m-Message{
	padding: 16px;
	padding-bottom: 20px;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid #eeeeee;
	padding-left: 72px;
	height: 88px;
}

.m-Message:first-child{
	margin-top: 8px;
}

.m-Message-text.m-Message-text--read{
	display: inline-block;
	position: relative;
}

.m-Message-text--read:before{
	content: 'done_all';
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: transparent;
	font-size: 16px;
	margin-top: -10px;
	margin-right: 0px;
}

.m-Message-text--read:after{
	content: 'done_all';
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: #9dc180;
	font-size: 16px;
	top: 0px;
	left: 0px;
	position: absolute;
}

.m-Message-title{
	font-size: 16px;
	position: relative;
}

.m-Message-text{
	font-size: 14px;
	color: #757575;
	height: calc(100% - 20px);
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
}

.m-Message-avatar{
	height: 40px;
	width: 40px;
	left: 0px;
	background: grey;
	border-style: none;
	border-radius: 50%;
	margin-left: 16px;
	position: absolute;
	overflow: hidden;
}

.m-Message-avatar img{
	width: 100%;
	height: 100%;
}

.m-Message-new{
	color: #03a9f4;
	font-size: 10px;
	position: absolute;
	text-transform: uppercase;
	top: 5px;
	margin-left: 5px;
}

.m-Message-date{
	font-size: 12px;
	color: #757575;
	position: absolute;
	top: 16px;
	right: 16px;
}

.m-Notification{
	padding: 16px;
	padding-bottom: 20px;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid #eeeeee;
	height: 88px;
}

.m-Notification:first-child{
	margin-top: 8px;
}

.m-Notification-title{
	font-size: 16px;
	position: relative;
}

.m-Notification-text{
	font-size: 14px;
	color: #757575;
	height: calc(100% - 20px);
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
}

.m-Conversation{
	padding: 16px;
	padding-top: 8px;
	margin: 16px;
	margin-right: 64px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #424242;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
	background: white;
	position: relative;
}

.m-Conversation:first-child{
	margin-top: 16px;
}

.m-Conversation--mine + .m-Conversation:not(.m-Conversation--mine){
	margin-top: 16px;
}

.m-Conversation:before{
	content: '';
	content: '';
	border-left: 13px solid transparent;
	border-bottom: 13px solid rgba(0, 0, 0, .2);
	left: -13px;
	position: absolute;
	bottom: 8px;
	background: transparent;
}

.m-Conversation:after{
	content: '';
	border-left: 10px solid transparent;
	border-bottom: 10px solid white;
	left: -10px;
	position: absolute;
	bottom: 10px;
	background: transparent;
}

.m-Conversation-date{
	font-size: 12px;
	color: #757575;
	position: absolute;
	right: 8px;
	bottom: 8px;
}

.m-Conversation--mine{
	padding: 16px;
	padding-top: 8px;
	margin: 16px;
	margin-top:8px;
	margin-bottom:8px;
	background: #dcf8c6;
	margin-left: 64px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.m-Conversation:not(.m-Conversation--mine) + .m-Conversation--mine {
	margin-top:16px;
}

.m-Conversation--mine:before {
	border-right: 13px solid transparent;
	border-left: 0px;
	right: -13px;
	left: auto;
	left: initial;
}

.m-Conversation--mine:after {
	border-right: 10px solid transparent;
	border-bottom: 10px solid #dcf8c6;
	border-left: 0px;
	right: -10px;
	left: auto;
	left: initial;
}

.o-Navbar{
	z-index: 8;
	height: 56px;
	background: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
}

.o-Navbar ul{
	display: -ms-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	height: 100%;
	-ms-align-items: stretch;
	-webkit-box-align: stretch;
	        align-items: stretch;
}

.o-Navbar-item{
	width: 33.33333%;
	min-width: 80px;
	max-width: 168px;
	padding: 8px 12px 10px 12px;
	display: -ms-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
	color: #757575;
	font-size: 12px;
}

.o-Navbar-item:focus {
	outline:none;
}

.o-Navbar-item:hover {
	cursor: pointer;
}

.o-Navbar-item i {
	/*font-size: 1rem;
        font-family: 'Roboto', sans-serif;*/
	text-align: center;
	transition: all 2s;
	font-size: 26px;
}

.o-Navbar-item i span {
	display: block;
	text-align: center;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	line-height: 1em;
}

.is-active.o-Navbar-item i span {
	font-size: 14px;
}

.o-Navbar-item i:before {
	font-family: 'FontAwesome';
	display: block;
	font-size: 22px;
	margin-bottom: 4px;
}

.is-active.o-Navbar-item i:before {
	margin-bottom: 5px;
}

.o-Navbar-item.is-active{
	color: #03a9f4;
	font-size: 14px;
	padding-top: 6px;
}

.o-Header{
	z-index: 8;
	position: fixed;
	height: 56px;
	top: 0px;
	width: 100%;
	background: white;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
}

.o-Header-left{
	height: 100%;
	width: 56px;
	position: absolute;
	display:-webkit-box;
	display:flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
}

.o-Header-left:focus {
	outline:none;
}

.o-Header-left:hover {
	cursor: pointer;
}

.o-Header-center{
	box-sizing: border-box;
	height: 100%;
	width: 200px;
	position: absolute;
	left: 72px;
	color: #03a9f4;
	padding-bottom: 20px;
	font-size: 24px;
	vertical-align: bottom;
	line-height: 54px;
}

.o-Header-center-center{}

.o-Header-right{
	height: 100%;
	width: 56px;
	position: absolute;
	right: 0px;
	display:-webkit-box;
	display:flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
}

.o-Header-right:focus {
	outline:none;
}

.o-Header-right:hover {
	cursor: pointer;
}

.o-PetsList{
	position: relative;
	background: white;
	z-index: 2;
}

.o-PetsList-button{
	position: absolute;
	/*bottom: -28px;*/
	bottom: -20px;
	right: 16px;
}

.o-UserCard{
	position: relative;
	box-sizing: border-box;
	z-index: 1;
}

.o-ProfileCard{
	position: relative;
	box-sizing: border-box;
	z-index: 1;
}

.o-ProfileCard-bg{
	height: calc(66.66666666666667vw - 56px);
	max-height: 35vh;
	background: #03a9f4 url(http://www.smartcc365.com/data/out/10/788690.jpg);
	background-size: 100% auto;
	background-position: 50%;
	width: 100%;
	top: 56px;
}

.o-ProfileCard-content{
	height: 66.66667vw;
	max-height: 35vh;
	position: relative;
	background: white;
	/*z-index: 2;*/
	border-bottom: 1px solid #eeeeee;
}

.o-ProfileCard-avatar{
	height: 120px;
	width: 120px;
	position: absolute;
	left: calc(50% - 60px);
	margin: auto;
	top: -60px;
	border-radius: 50%;
	background: red;
	border: 4px solid white;
	background-clip: border-box;
	background: url(https://assets.entrepreneur.com/content/16x9/822/20150406145944-dos-donts-taking-perfect-linkedin-profile-picture-selfie-mobile-camera-2.jpeg);
	background-size: auto 100%;
	background-position: 40%;
}

.o-ProfileCard-title{
	font-size: 24px;
	padding-top: 84px;
	text-align: center;
}

.o-ProfileCard-data{
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	max-width: 300px;
	margin: auto;
	padding: 16px;
}

.o-ProfileCard-data li {
	display: inline-block;
	width: 80px;
	text-align: center;
	font-size: 20px;
}

.o-ProfileCard-data li span {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	color: #9e9e9e;
}

.o-ProfileCard-data-location {
	position: relative;
	text-align: center;
}

.o-ProfileCard-data-location-edit {
	position: absolute;
	top: -20px;
	right: -20px;
	color: #03a9f4;
}

.o-ProfileCard-buttons{
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.o-RatesList{
	background: white;
	position: relative;
	z-index: 1;
}

.o-ConversationList{
	min-height: 100%;
	background: #eeeeee;
	padding: 1px;
}

.o-TextInput{
	z-index: 8;
	height: 56px;
	background: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
}

@media (min-width: 768px){}

@media (min-width: 1024px){}
